.ml-input {
  border: 0 rgba(0, 0, 0, 0.2);
  color: #333;
  font-size: 16px;
  width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  padding: 7px 60px 9px 15px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  height: 39px;
  outline: none;
}

.ml-input:hover {
  border: 0 rgba(0, 0, 0, 0.2);
  outline: none;
}
